h2 {
  color: #000;
  margin: 0;
}

.form-album {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
.create-album-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 120px;
}
.create-button {
  margin: 10px;
  font-size: 36px;
  border: none;
  background: transparent;
}
.create-button:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
}

.album-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65px;
  margin: 10px;
}

.album-item svg {
  font-size: 65px;
}
.album-item-wrapper {
  position: relative;
}
.album-item-wrapper:hover .remove-album {
  display: block;
}
.remove-album {
  display: none;
  position: absolute;
  border: none;
  background: transparent;
  right: 5%;
  top: 0;
}
.remove-album svg {
  font-size: 20px;
}
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
